@font-face{

    font-family: 'Guillermonkey';
    src: url('Guillermonkey.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {

    font-family: 'Guillermonkey';
    src: url('Guillermonkey.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
